<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140144445-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140144445-1');
</script>


{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
  <div class="home-page">
    <div class="hero">
      <div class="container">
          <div class="headline">
            <h1>How's your yoga?</h1>

            <h2>
              Algined is an AI powered assistant to help you improve your poses.
            </h2>

            <p>
              <a class="btn btn-primary round" href="/register" onclick="gtag('event','register',{'event_category':'button','event_label':'register_button', 'value':1});">Get started now</a>
            </p>
          </div>
      </div>
    </div>
  </div>
{% endblock %}