/* HOME PAGE */

.home-page .container {
  display: flex;
  background: url(/static/images/home/main_illustration.svg) no-repeat;
  background-position: right;
  min-height: 450px;
  align-items: center;
}

.home-page .headline {
  width: 430px;
}

.home-page .headline h1 {
  font-weight: bold;
  font-size: 3rem;
}

.home-page .headline h2 {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.3;
  margin: 1rem 0;
}

.home-page .headline .btn {
  font-size: 1.5rem;
}

/* LOGIN & REGISTER PAGES */

.login-page .container {
  max-width: 500px;
}

/* POSES PAGE */

.poses-page .pose-picker {
  margin: 1rem 0;
}

.poses-page .title {
  font-size: 1.5rem;
  font-weight: bold;
}

.poses-page .pose-picker ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poses-page .pose-picker ul li {
  margin: 0 2rem;
  background: #FFFFFF;
  border: 3px solid #B3C2D2;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.06);
}

.poses-page .pose-picker ul li:hover {
  border-color: #EC7C88;
}

.poses-page .more-to-come {
  opacity: 0.5;
  font-size: 1.3rem;
}

/* POSE PAGE */

.pose-page h1.title {
  font-weight: normal;
  font-size: 2rem;
}

.pose-page h1.title {
  font-weight: normal;
  font-size: 2rem;
}

.pose-page h1.title small {
  font-size: 1rem;
  font-weight: 200;
}

.pose-page .pose-desc {
  max-width: 600px;
  text-align: center;
  margin: 0 auto 2rem;
}

.pose-page .intructions {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pose-page .steps.row {
  text-align: center;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pose-page .steps.row .col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pose-page .box {
  width: 100%;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #B3C2D2;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.06);
  background: #1E1E1E;
}

.pose-page .box .inner-box {
  margin: 2rem;
}

.pose-page .instructions .box iframe {
  width: 100%;
  height: 300px;
}

.pose-page .record .box {
  background: #1E1E1E;
  color: white;
  border-color: white;
}

.pose-page .record .box .btn-outline-primary {
  border-color: white;
  color: white;
}

.pose-page .record .box .btn-outline-primary:hover {
  border-color: #EC7C88;
  background-color: #EC7C88;
}

.pose-page .modal-footer {
  display: flex;
  justify-content: space-between;
}

video.video-player {
  width: 100%;
}

/* FEEDBACK PAGE */

.feedback-page .feedback.row {
  text-align: center;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.feedback-page .feedback.row .col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback-page .box {
  width: 100%;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #B3C2D2;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.06);
  background: #1E1E1E;
}

.feedback-page .steps-to-improve ul {
  list-style: none;
  padding: 0;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.feedback-page .steps-to-improve ul li:first-child {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
